body{
    margin: 0;
    background-color: #fff;
/*    font-family: 'Raleway', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Стили верхней полоски */
.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;	
    top: 0;
    left: 0;
    z-index: 5;
	background-color: rgba(40, 41, 51, 0.9);
}

.svg-logo {
/*	width: 100px;*/
	
	display: flex;
/*	margin-right: 80px;*/
	max-width: 100px;
	position: fixed;
	left: 80px;
	top: 10px;

	z-index: 11;
}


/* Стили для выезжающего меню слева */
#left_sidebar, #right_sidebar {
	position: fixed;
	width: 200px;
    height: 100%;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 60px);
	margin-top: 60px;
	padding-bottom: 20px;
	background: #fff;
	z-index: 10;
	/* Скорость "выезда" меню слева по нажатию кнопки бургер меню */
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

#left_sidebar {
	left: -200px;
	overflow-y: hidden;
}

#right_sidebar {
	right: -200px;
	overflow-y: scroll;
	/*	положение ползунка слева*/
	direction: rtl;
}

#left_sidebar::-webkit-scrollbar {
    width: 8px;
}
#right_sidebar::-webkit-scrollbar {
    width: 8px;
}

#left_sidebar::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
}
#right_sidebar::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

#left_sidebar::-webkit-scrollbar-track {
    background-color: #fcfcfc;
}
#right_sidebar::-webkit-scrollbar-track {
    background-color: #ffffff;
}

#left_sidebar:hover {
	overflow-y: scroll;
}

#right_sidebar:hover::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
}

#right_sidebar:hover::-webkit-scrollbar-track {
    background-color: #fcfcfc;
}

/* Стили элементов списка выезжающего меню */
#left_sidebar ul, #right_sidebar ul {
    padding: 0;
}
/*DropDown меню выбора свойств у контейнера*/
ul li:hover ul.Sklad1{
    display: block;
}
ul li ul.Sklad1{
    display: none;
}

#left_sidebar ul li, #right_sidebar ul li {
    margin-left: 10px;
	margin-top: 10px;
	list-style: none;
    opacity: 0.75;
    transition: opacity 0.2s linear;
}

#left_sidebar ul li a, #right_sidebar ul li a {
    margin-left: 10px;
	margin-top: 10px;
    color: #000000;
	font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

#left_sidebar ul li a:hover {
    opacity: 1;    
}

#right_sidebar ul li a:hover {
    opacity: 1;    
}

/* Стили кнопки бургер меню */
#left_sidebar .toggle-btn {
	position: fixed;
	left: 25px;
	top: 20px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;	
	opacity: 0.75;
    transition: opacity 0.2s linear;
	z-index: 11;
}

#left_sidebar .toggle-btn:hover {
	opacity: 1;
}

#left_sidebar .toggle-btn span{
	display: block;
	width: 20px;
	height: 2px;
	
	background: #fff;
	
	font-size: 0;
	color: transparent;
	z-index: 20;
	position: absolute;
}

#left_sidebar .toggle-btn span:before,
#left_sidebar .toggle-btn span:after {
	content: "";
	width: 100%;
	height: 100%;
	
	background: #fff;
	
	position: absolute;
	left: 0;
	z-index: 20;
}

#left_sidebar .toggle-btn span:before {
	top: -6.5px;
}

#left_sidebar .toggle-btn span:after {
	bottom: -6.5px;
}

#right_sidebar .ava {
	border-radius: 50%;
	width: 35px;
	height: 35px;
		
	position: fixed;
	right: 25px;
	top: 12.5px;
	cursor: pointer;
	display: flex;
	z-index: 11;
}

/* Пока меню активно показывать поле, по нажатию которого меню уедет */
.interface__overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0);
	-moz-transition: all 500ms;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}

/* Класс со свойствами выезжающего меню слева, работает со скриптом "выезда" */
#interface.move_left_sidebar #left_sidebar {
	left: 0px;
}

#interface.move_right_sidebar #right_sidebar{
	right: 0px;
}

#interface.move_left_sidebar .interface__overlay {
	visibility: visible;
	background-color:  rgba(0, 0, 0, 0.5);
}

#interface.move_right_sidebar .interface__overlay {
	visibility: visible;
	background-color:  rgba(0, 0, 0, 0.5);
}

#interface.move_left_sidebar, #interface.move_right_sidebar {
	overflow: hidden;	
}

.container {
	display: flex;
	flex-direction: column;
/*	align-items: center;*/
	justify-content: space-between;
/*  	height: 180px;*/
	padding: 0px 20px 0px 10px;
	direction: ltr;
}

.ask-log-pass {
	font-size: 14px;
	text-align: justify;
	margin: 20px 0px 20px 0px;
}

.auth {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  	height: 70px;	
}

.auth .errorText {
	padding-top: 20px;
}

input, input:hover, input:focus {
	outline-color: #d8d8d8;
	background: #f5f5f5;
}

.knopka {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(155, 155, 155); /* фон кнопки */
  padding: 6px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: none;
} 
.knopka:hover { background: rgb(64, 157, 82); } /* при наведении курсора мышки */
.knopka:active { background: rgb(64, 157, 82); } /* при нажатии */

.form-control {
	background: #d8d8d8;
	padding: 14px;
	padding-left: 20px;
	border: 0px !important;
	height: 20px;
}

.exit {
	color: #393939;
	font-size: 16px;
    font-weight: 700;
    text-decoration: none;
	padding-bottom: 10px;
}

.text {
	margin-left: 50px;
	font-size: 10px;
}


.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute; /* Под вопросом*/
	width: 100%;
	height: auto;
	min-height: 100%;
/*	margin-bottom: 0;*/
	padding-top: 85px;	
	background-color: #f0f0f0;
}


/*--- Стили на странице Profile ---*/

#profile {
	background-color: white;
	width: 400px;
}

.profile_img {
	max-width: 200px;
	max-height: 200px;
	display: block;
	margin: 30px auto;
	border: 1px solid #c6c6c6;
}

.menu_img, .menu_pass, .menu_notification {
	background-color: #dddddd;
	border-bottom: 1px solid #c6c6c6;
}

#profile_form_pass {
	text-align: center;
}

.prof_pass_style {
	background: #d8d8d8;
	padding: 14px;
	padding-left: 20px;
	border: 0px !important;
	height: 20px;
	margin: 5px auto;
}

#profile_form_pass .knopka {
	margin: 0 135px;
}


.txtInline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
    cursor: pointer;
}

.btnInline {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px 100px 20px 100px;
}

#profile_form_img, #profile_form_pass, #profile_notification {
	padding: 0;
}

#profile_form_pass, .errorText {
	padding-bottom: 20px;
}

#profile_form_img, #profile_form_pass, #profile_notification {
	display: none;
}
#profile.change_img #profile_form_img {
	display: block;
}
#profile.change_pass #profile_form_pass {
	display: block;
}
#profile.change_notific #profile_notification {
	display: block;
}


#profile.change_img .menu_img {
	background-color: #c6c6c6;
}
#profile.change_pass .menu_pass {
	background-color: #c6c6c6;
}
#profile.change_notific .menu_notification {
	background-color: #c6c6c6;
}

.input_image {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.preview {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.preview p{
	margin: 10px;
}

.preview ol {    
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

.preview ol li {    
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.preview ol li p {    
	margin: 10px;    
}

.prev_image {
	max-width: 200px;
	max-height: 200px;
	margin: auto;
}

#btn_change_img, #btn_change_pass, #repeat_pass {
	display: none;
}

#btn_change_img.show {
	display: block;
}

.myCheckBox{
    cursor: pointer;
}

/*SKLAD*/
/*WareHouse*/
.WareHouse{
    display: flex;
	flex-grow: 1;
    flex-direction: column;
	position: relative;
    width: 100%;
    height: auto;
}

.Details {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.material_data, .material_chart {
	margin: 0px 0px 0px 25px;
}

/* Цвет плиток и из тени */
.material_img, .material_info, .material_chart, .MatBar {
	background-color: #ffffff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
}

.material_data {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: auto;
}

.material_img {
	display: flex;
  	align-items: center;
  	justify-content: center;
	width: 300px;
	height: 300px;
}

.material_img img {
	max-width: 220px;
	max-height: 220px;
}

.material_info {
	flex-grow: 1;
	margin-top: 25px;
	height: auto;
}

.material_chart {
	width: 100%;
	height: auto;
	margin-right: 25px;
}

/* Это нужно?
#selCatId,#selTypeId{
    display: none;
}
*/

.MatBar{
    overflow-y: hidden;
	margin: 0 25px 25px 25px;
	padding: 15px;
	background-color: white;
}

/*Таблица материалов*/
.tableMats {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.columnOZM {
	width: 100px;
}

.columnName, .itemNameTD {
	width: 400px;
}

.columnQty {
	width: 150px;
}

.columnCategory {
	width: 200px;;
}

.columnDate {
	width: 200px;
}

.tableMats thead tr {
    background-color: #efefef;
    color: #525252;
  	display: block;
  	position: relative;
}

.tableMats thead th, .tableMats tbody td{
	text-align: left;
	padding: 5px 10px;
}

#material_table_head .columnCategory {
	padding: 0;
}

/* Выпадающий список для Категорий */

#txtCategory {
	padding: 5px 10px;	
}

input
{
  display: none;
}

/*
#text
{
  position: absolute;
  top: 0px;
  padding-left: 10px;
}
*/

.select
{
  	display: block;
  	width: auto;
  	height: 26.4px;
  	line-height: 26.4px;
  	position: absolute;
	top: 0px;
}

.select:before
{
  content: ">";
  display: inline-block;
  position: absolute;
  left: 150px;
  z-index: 2;
  width: 30px;
  height: 26.4px;
  text-align: center;
  line-height: 26px;
/*  border: 2px solid #ddd;*/
  transform: rotate(90deg);
  cursor: pointer;
}

.select input[name="list"]:checked ~ #text
{
  background: transparent;
  color: transparent;
  z-index: 2;
}

#select:disabled ~ .items #text
{
  background: #eee;
}

.items
{
  display: block;
  min-height: 30px;
	max-height: 100px;
  position: absolute;
  overflow-y: auto;
  width: 200px;
  cursor: pointer;
}

#select:not(:checked) ~ .items
{
  height: 30px;
}

.items label
{
  display: none;
  padding-left: 10px;
  background: white;
}

#select:checked ~ .items label
{
  display: block;
}

.items label:hover
{
  background: #eee;
  cursor: pointer;
}

#select:checked ~ .items
{
  margin-top: 30px;
}

.items input:checked + label
{
  	display: block!important;
  	border: none;
	background-color: #efefef;
}

#select:checked ~ .bg
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: rgba(0,0,0,0.4);
}


.tableMats tbody {
  	display: block;
  	overflow: auto;
  	width: 100%;
  	height: 150px;
}

.tableMats tbody::-webkit-scrollbar, #material_table_head .items::-webkit-scrollbar {
    width: 8px;
}

.tableMats tbody::-webkit-scrollbar-thumb, #material_table_head .items::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
}

.tableMats tbody::-webkit-scrollbar-track, #material_table_head .items::-webkit-scrollbar-track {
    background-color: #fcfcfc;
}

.tableMats tbody:hover, #material_table_head .items:hover {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.tableMats tbody:hover::-webkit-scrollbar-thumb, #material_table_head .items:hover::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
	-webkit-appearance: none;
	width: 8px;
}

.tableMats tbody:hover::-webkit-scrollbar-track, #material_table_head .items:hover::-webkit-scrollbar-track {
    background-color: #fcfcfc;
}

.tableMats .itemMatTR:hover, .tableMats .minItemMatTR:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}

.tableMats tr{
    background-color: #ffffff;	
    border: none;
    border-bottom: 1px solid #ddd;
}

.tableMats thead tr{
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.2);    
}

.tableMats .minItemMatTR{
    background-color: #fdd2d2;
}

.tableMats .openedItemClose{
    display: none;
}
.tableMats .openedItemOpen{
    background-color: white;
}

/*Когда выбрана строка в таблице материалов*/
.tableMats .selectedMaterialRow{
    padding: 0px;
    border: none;
/*    background-color: #f2f2f2;*/
	background: linear-gradient(to top, #ffffff, #f2f2f2);
    border-bottom: none;
}

.tableMats tbody .selectedMaterialRow td{
	font-weight: bold;
}

/*График*/
#myChart{
    width: 100% !important;
    max-height: 300px;
}
.chartWrapper {
    position: relative;
    padding: 5px;
    width: 100%;
}
.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}
.chartAreaWrapper {
    width: 100%;
    overflow-x: auto;
}

/*History выбор транзакций*/
/*
.history_bar{
    overflow-y: scroll;
    height: 100%;
    width: 260px;	
	background-color: #ffffff;
    min-width: 200px;
}
.history_container{
    padding: 5px;
    list-style: none;
}
*/

/*Кнопка выбора транзакции*/
/*
.history_but{
    width: 100%;
    background-color: rgba(40, 41, 51, 0.9);
    outline-width: 1px;
    color: white;
    transition-duration: 0.4s;
}
.history_but:hover{
    color: white;
    background-color: gray;
}
.historyTable{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.historyTable thead tr{
    display: block;
}
.historyTable tbody{
    display: block;
    overflow: hidden;
}
*/

.itemNameTD{
    padding:0;
    text-align: left;
    padding: 4px 40px 4px 5px;
/*    width: 50%;*/
}
/*
.itemOzmTD.itemQtyTD{
    width: 20%;
}
.itemLD_TD{
    width: 30%;
}
*/

/*История транзакций*/
/*
.WareHouseHistory{
    display: block;
    flex-direction: column;
}
.navContainer{
    display: block;
    padding: 10px;
}
.historyContainer{
    
}
.historyItemTR{
    width: 500px;
}
*/

/**/
/*
.notVisibleElements{
    visibility: hidden;
    display: none;
}
*/

/*Страница подробнее о материале*/
/*
.MaterialPage{
    width: 50%;
    height: 100%;
}
.barMaterial{
    width: 100%;
    background-color: white;
}
.containerIconAndGraf{
    display: flex;
}
*/

